apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ecom
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: amvdown/ecom-frontend:latest
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "http://backend.ecom.svc.cluster.local:8080/api/v1"
          ports:
            - containerPort: 3000
