apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: ecom
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: amvdown/ecom-database:latest
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "root"
            - name: MYSQL_DATABASE
              value: "ecom"
            - name: MYSQL_USER
              value: "user"
            - name: MYSQL_PASSWORD
              value: "password"
          command: ["/usr/local/bin/docker-entrypoint.sh"] # <-- Ensures mysqld is executed with our arguments
          args:
            - "mysqld" # <--- Tell the entrypoint script to run mysqld
            - "--bind-address=0.0.0.0"
            - "--skip-host-cache"
            - "--skip-name-resolve"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
